@import "settings";

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: $color-bg;
}
.menu {
    position: absolute;
    background-color: $color-menu-bg;
    border-radius: 5px;
    padding: 5px;
    &:hover {
        cursor: pointer;
        background-color: rgba(154, 255, 230, 0.3);
}}
form,
label,
select{
}
.btt2 ul{
    width: 9.9em;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 10px;
}
.btt2 li{
    float: left;
    width: 2.3em;
    margin: .4em;
    height: 2.2em;
    border-radius: 30%;
    border: .1em $color-color-button-border solid;   
    &:active{
        border-color: $color-color-button-border-hover;
    }
}
